<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Noto+Sans:wght@400;600;700&display=swap');

      body {
        font-family: 'Noto Sans', sans-serif;
      }

      .card-title {
        font-family: 'Jost', 'Google Sans';
        font-weight: 500;
      }
    </style>
  </head>

  <body>
    <div
      style="
        background: #f4f5f5;
        color: #1e1e1f;
        height: 916px;
        width: auto;
        font-family: 'Noto Sans', sans-serif;
      "
    >
      <div style="text-align: center; height: 175px">
        <a href="https://imgur.com/jKyZUFj">
          <img
            style="margin-top: 87px"
            src="https://i.imgur.com/jKyZUFj.png"
            title="source: imgur.com"
          />
        </a>
      </div>
      <div class="card">
        <div
          class="card-body"
          style="
            background: #ffffff;
            color: #1e1e1f;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            width: 644px;
            height: 496px;
          "
        >
          <p
            style="
              color: #1e1e1f;
              font-size: 14px;
              font-weight: 600px;
              margin-bottom: 0px;
              padding-top: 32px;
              line-height: 20px;
              height: 20px;
              font-family: 'Noto Sans', sans-serif;
            "
          >
            YOU'RE ONE STEP AWAY
          </p>

          <p
            class="card-title"
            style="
              color: #1e1e1f;
              font-size: 56px;
              font-weight: 500;
              line-height: 66px;
              margin-top: 0px;
              margin-bottom: 0px;
              height: 132px;
              font-family: 'Jost', 'Google Sans';
            "
          >
            verify your email <br />
            address
          </p>

          <p
            class="card-text"
            style="
              color: #666666;
              font-size: 16px;
              font-weight: 400px;
              margin-top: 40px;
              margin-bottom: 0px;
              margin-left: auto;
              margin-right: auto;
              line-height: 20px;
              width: 580px;
              height: 80px;
              font-family: 'Noto Sans', sans-serif;
            "
          >
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries
          </p>

          <div style="text-align: center; color: #1e1e1f; margin-top: 40px">
            <a
              href="https://www.google.com"
              style="
                display: inline-block;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                background-color: #1e1e1f;
                text-decoration: none;
                text-align: center;
                border-radius: 12px;
                letter-spacing: normal;
                /* font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; */
                margin: 0 auto;
                padding: 17px 114px;
              "
              >Verify my email</a
            >
          </div>

          <p
            style="
              color: #1e1e1f;
              margin-top: 40px;
              font-size: 16px;
              font-weight: 400px;
              margin-bottom: 0px;
              line-height: 20px;
              font-family: 'Noto Sans', sans-serif;
            "
          >
            Have a question?
            <a
              href="https://info@howbangkok.com"
              style="color: #1e1e1f; font-size: 16px; font-weight: bold; text-decoration-line: none"
            >
              info@howbangkok.com
            </a>
          </p>
        </div>
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          margin-top: 44.5px;
          margin-bottom: 0px;
          margin-left: auto;
          margin-right: auto;
          width: 185px;
        "
      >
        <a href="https://www.facebook.com/howbangkok">
          <img
            style="margin-right: 23px"
            src="https://i.imgur.com/DSBv2hK.png"
            title="source: imgur.com"
          />
        </a>
        <a href="https://imgur.com/MqCrWfu">
          <img
            style="margin-right: 23px"
            src="https://i.imgur.com/MqCrWfu.png"
            title="source: imgur.com"
          />
        </a>
        <a href="https://imgur.com/9gyzwpb">
          <img
            style="margin-right: 23px; height: 28px"
            src="https://i.imgur.com/9gyzwpb.png"
            title="source: imgur.com"
          />
        </a>
        <a href="https://imgur.com/XpQhiEa">
          <img
            style="margin-right: 23px"
            src="https://i.imgur.com/XpQhiEa.png"
            title="source: imgur.com"
          />
        </a>
      </div>
      <div style="text-align: center">
        <p
          style="
            margin-top: 28px;
            font-size: 13px;
            font-weight: 400px;
            line-height: 18px;
            color: #1e1e1f;
          "
        >
          20/224 prachachuen road, Bangtalat, Pakkret, Nontaburi 11120
        </p>
      </div>
    </div>
  </body>
</html>
