<html>

<head>
  <title>Booking Cancel 2</title>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href='https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Noto+Sans:wght@400;600;700&display=swap'
    rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;1,200&display=swap'
    rel='stylesheet' />

  <style>
    @font-face {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 500;
      src:
        url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7myjJTVFNIgun_HKOEp-Cw.woff2) format('woff2');
      unicode-range: U+0301, U+0400-045F, U+0490-0491,
        U+04B0-04B1, U+2116;
    }

    body {
      font-family: 'Noto Sans';
    }

    .card-title {
      font-family: 'Jost';
      font-weight: 500;
      color: #1e1e1f;
      font-size: 56px;
      font-weight: 500;
      line-height: 66px;
      margin-top: 0px;
      margin-bottom: 0px;
      height: 132px;
    }

    .card-text {
      font-family: 'Noto Sans' !important;
    }

  </style>
</head>

<body>
  <div style="
      background: #ffffff;
      color: #1e1e1f;
      width: auto;
      height: auto;
    ">
    <div class="card">

      <div class="card-body" style="
          background: #ffffff;
          color: #1e1e1f;
          margin-left: auto;
          margin-right: auto;
          width: 70vw;
          height: 100vh;
        ">
        <div style="margin-left: 8vw;margin-right: 8vw;">
          <a href="https://imgur.com/jKyZUFj">
            <img style="float: left;margin-top: 8vh;width: 40px;height: 40px" src="https://i.imgur.com/xJlnwNt.png"
              title="source: imgur.com" />
          </a>
          <div style="clear: both;color: #1e1e1f;">
            <p style="padding-top: 6vh;margin-bottom:0px;font-size: 14px;line-height:20px">
              Dear Earth,
            </p>
            <p style="margin-top:2vh;margin-bottom:0px;font-size: 24px;font-weight:600;line-height:20px">Your booking
              has been successfully cancelled
            </p>
            <p style="margin-top: 2vh;font-size: 16px;line-height:20px">We have confirmed the cancellation of your event
              booking. </p>

            <p style="margin-top: 6vh;font-size: 16px;font-weight:600;line-height:20px">Event detail</p>
            <p style="font-size: 16px;line-height:20px">Room 1</p>
            <p style="font-size: 16px;line-height:20px">Thursday, March 24, 2024 from 9:00PM to 11:00 PM (GMT+7)</p>
            <p style="font-size: 16px;line-height:20px">HOW Bangkok, SO/ Sofitel, 5 fl.</p>

            <p style="padding-top: 5vh;font-size: 16px;line-height:20px">Have a question?<a
                href="https://info@howbangkok.com"
                style="color: #1e1e1f; font-size: 16px; font-weight: bold; text-decoration-line: none">
                info@howbangkok.com
              </a>
            </p>
            <div style="margin-top: 9vh;margin-bottom: 9vh;background: #D8D8DA;width: 54wx;height: 0.2vh;"></div>
            <div>
              <p style="float: left; margin: 0px; font-size: 13px; line-height: 18px; margin-right: 10px;">
                20/224 prachachuen road, <br />
                Bangtalat, Pakkret, Nontaburi 11120
              </p>
              <a style="float: right;">
                <img style="width: 24px; height: 24px;" src="https://i.imgur.com/XpQhiEa.png"
                  title="source: imgur.com" />
              </a>
              <a style="margin-right: 1.5vw;float: right;">
                <img style="width: 24px; height: 24px;" src="https://i.imgur.com/9gyzwpb.png"
                  title="source: imgur.com" />
              </a>
              <a style="margin-right: 1.5vw;float: right;">
                <img style="width: 24px; height: 24px;" src="https://i.imgur.com/MqCrWfu.png"
                  title="source: imgur.com" />
              </a>
              <a href="https://www.facebook.com/howbangkok" style="margin-right: 1.5vw;float: right;">
                <img style="width: 24px; height: 24px;" src="https://i.imgur.com/DSBv2hK.png"
                  title="source: imgur.com" />
              </a>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
